<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData"> @* Found es encontrado *@
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" /> @* Route view seria pista de las rutas *@
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
